.lgtm_badge {
  padding: 2px 7px;
  border-radius: 5px;
  color: #fff;
  box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
}

.lgtm_large {
  font-size: 1.4em;
  padding: 2px 7px;
  margin-right: 5px;
}

.lgtm_okay {
  background-color: #0c1707;
}

.lgtm_good {
  background-color: #2b5419;
}

.lgtm_better {
  background-color: #4b902c;
}

.lgtm_best {
  background-color: #6cc644;
}

.lgtm_icon {
  margin-left: 5px;
}

.lgtm_participants {
  margin-left: 5px;
}

.participant_thumb {
  width: 15px;
  height: 15px;
  padding: 1px;
  margin: 1px;
  border: 1px solid #999;
  background-color: #fff
}
